{%extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {% for m in message %}
            <div class="alert alert-{{ m.tags }}">
                {{ m }}
            </div>
            {% endfor %}
    {% endif %}
    </div>

    <!-- {% if not listing.isActive and user == listing.price.user%} -->
                {%if not listing.isActive %}
                    <div class="alert alert-success" role="alert">
                        Congratulations! <strong>{{listing.price.user}}</strong> won the auction
                    </div>
                {%endif%}
    <!-- {%endif%} -->
<h2>Listing: {{listing.title}}</h2>
{%if user.is_authenticated and listing.isActive %}
    {%if isOwner%}
    <form action="{% url 'close' id=listing.id %}" method="post">
        {%csrf_token%}
        <button type="submit" class="btn btn-danger my-3">Close Auction</button>
    </form>
    {%endif%}
{%endif%}
{% if user.is_authenticated%}
    {%if listing.isActive%}
        {% if iswatching %}
            <form action="{% url 'remove' id=listing.id %}" method="post">
                {%csrf_token%}
                <button type="submit" class="btn btn-danger my-3">Remove from Watchlist</button>
            </form>
        {%else%}
            <form action="{% url 'add' id=listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success my-3">Add to Watchlist</button>
            </form>
        {%endif%}
    {%endif%}
{%endif%}
<img src="{{listing.imageurl}}" alt="{{listing.title}}" width="500px" height="500px" margin="30px">
<p><strong>Owned by: {{listing.owner}}</strong></p>
<h3>Price: {{listing.price}}</h3>
{% if user.is_authenticated and listing.isActive %}
        <form action="{%url 'bid' id=listing.id%}" method="post">
            {%csrf_token%}
            <div class="form-group">
                <label for="price">Bid Your Price</label>
                <input type="number" min="0" name="bidAmount" placeholder="Bid Amount">
                <button type="submit" class="btn btn-warning">Bid</button>
            </div>
        </form>
{%else%}
        <h2>This Auction is closed!</h2>
{%endif%}
<h2>Comments</h2>
{%if user.is_authenticated %}
    <form action="{% url 'addComment' id=listing.id  %}" method="post">
        {%csrf_token%}
        <label for="comment">Add Comment</label>
        <input type="text" name="newComment" placeholder="Leave a comment">
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{%endif%}
{% for comment in comments%}
    <li class="list-group-item">
        {{comment.message}}
        <br>
        <p>Posted by: <strong>{{comment.author}}</strong></p>
    </li>
{% empty %}
    <p>No comments</p>
{%endfor%}

{% endblock %}